/* reset */
$base-bg: #fff;
$base-text-color: #6c6c6c;
$base-fs: 16px;
$base-line-height: 24px;
$base-font-family: "Proxima Nova", sans-serif;
$second-font-family: "Gilroy", sans-serif;
/* main variables */

//text, title colors
$text-color-white: #fff;
$text-green: #00a031;

$title-color: #00a031;
$title-color-wite: #fff;

// background colors
$bg-dark: #222222;
$bg-green: #00a031;

// font size title
$font-size-h1: 90px;
$line-height-h1: 100px;
$font-size-h2: 52px;
$line-height-h2: 60px;
$font-size-h3: 38px;
$line-height-h3: 51px;

// colors
$black: #000;

$border-green: #00a031;

$button-green: #00a031;
